@import "tailwindcss";

body {
  background-color: #F8F9FC;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #1E293B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom styles for luxury appearance */
.font-serif-luxury {
  font-family: 'Playfair Display', serif;
}